.g-head .btn-list ul  .sty{
    border-right: rgba(255, 255, 255, 0.37) solid 1px;}
.g-head .btn-list ul  .sty a{
padding-right:0.14rem;}
/*æ£€ç´¢åŠŸèƒ½éšè—
.g-head .btn-list .search {
    display:none;
}*/
.g-nav2 .scroll li{}
@media screen and (max-width: 800px){
.spp1{
display:none;}
.img.pc-show{display:none;}
.img.phone-show{display:block !important;}
.index-flash li .img.phone-show a{
display:block;}
.video-btn{display:none;}


}

input::-webkit-input-placeholder { /* webkit, blink, edge */
    color:    #06aeae;}
input::-moz-placeholder { /* mozilla firefox 4 to 18 */
   color:   #06aeae;}
input::-moz-placeholder { /* mozilla firefox 19+ */
   color:  #06aeae;}
input::-ms-input-placeholder { /* internet explorer 10-11 */
   color:  #06aeae;}
.index-search .form .input input{width: 92%;}

/*éšè—æœç´¢
.index-search .wal {
display:none;
}
.index-flash li .name a{
bottom: 0.3rem;
}
.index-flash .btn{
bottom: 0.7rem;
}*/

.index-news .col-2 .list li p{text-align: left;
    text-indent: 2em;}
   
.index-news .col-1 .title a{color: #666;}

.index-news .col-1 .title a:hover {
    color: #029292;}
.index-flow .container{margin-top: -.23rem;}
.tpp{display:none;}
.index-flow .container .video{z-index: 1;}
@media screen and (max-width: 800px){
.tpp{
display:block !important;}
.spp{
display:none !important;}

}
.index-flow .title dl dd .layer{    width: 1.45rem;margin-left: -1rem;}
.index-flow .title dl dd .layer .ewm{    width: 100%;}
.index-flow .img-list li a .layer .info-5 {
    border-color: #d8d100;}


.yjfkk img{margin-right: 0.1rem;}
