@charset "UTF-8";
body.show a, body.show .transition, body.show .index-flow .title dl dd .layer, .index-flow .title dl dd body.show .layer, body.show .g-nav2, body.show .g-nav, body.show .g-head .btn-list .search .input, .g-head .btn-list .search body.show .input, body.show .g-head .btn-list, .g-head body.show .btn-list, body.show :before, body.show :after, body.show img {
  transition: All 0.5s ease;
  -webkit-transition: All 0.5s ease;
  -moz-transition: All 0.5s ease;
  -o-transition: All 0.5s ease;
}

.ellipsis, .index-flash li .name a {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.flex, .index-flow .img-list li a .layer .info, .index-flow .title dl dd .layer, .index-flow .title dl, .index-flow .container .video i, .index-admissions .dots, .index-events .list-wrapper dd.li-dd dl.info dd, .index-events .list-wrapper dl.ul-dl, .index-events .wal .arrow, .index-events .wal, .index-news .col-2 .arrow .dots, .index-news .col-2 .arrow, .index-news .col-2 .list li .title, .index-search .search-result .name, .index-search .hot-words, .index-flash .btn .dots, .index-flash .btn, .g-foot .info .tel, .g-foot .info, .g-foot .list li, .g-nav2 .scroll ul, .g-nav ul, .g-head .btn-list .language .name, .g-head .btn-list ul, .g-head .btn-list, .p-layer {
  display: flex;
  display: -webkit-flex;
  display: -ms-flex;
}

.flexColumn {
  display: flex;
  display: -webkit-flex;
  display: -ms-flex;
  flex-direction: column;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
}

.itemsCenter, .index-flow .img-list li a .layer .info, .index-flow .container .video i, .index-events .list-wrapper dd.li-dd dl.info dd, .index-events .wal, .index-news .col-2 .arrow, .index-news .col-2 .list li .title, .index-search .search-result .name, .index-flash .btn, .g-foot .info .tel, .g-foot .list li, .g-head .btn-list .language .name, .g-head .btn-list, .p-layer {
  align-items: center;
  -webkit-align-items: center;
}

.justifyCenter, .index-flow .container .video i, .index-admissions .dots, .index-admissions .list dl, .index-news .col-2 .arrow .dots, .index-news .col-2 .list li .title, .index-flash .btn, .p-layer {
  justify-content: center;
  -webkit-justify-content: center;
}

.flexAround {
  justify-content: space-around;
  -webkit-justify-content: space-around;
}

.flexBetween, .index-news .col-2 .arrow, .index-news, .g-foot .info {
  justify-content: space-between;
  -webkit-justify-content: space-between;
}

.flexWrap, .foot-link .list ul, .index-flow .img-list li a .layer, .index-flow .img-list ul, .index-admissions .list dl, .index-news, .index-search .hot-words ul, .g-foot .info div, .g-foot .list ul {
  display: flex;
  display: -webkit-flex;
  display: -ms-flex;
  flex-wrap: wrap;
  -webkit-flex-wrap: wrap;
}

.bsBox {
  box-sizing: content-box;
}

.p-ico, .index-flow .container .video i, .index-flow .container .list a i, .index-events .list-wrapper dd.li-dd dl.info em, .index-search .search-result li a i {
  font-family: "icon";
  font-size: 0.2rem;
}

.p-more {
  display: inline-block;
  font-size: 0.12rem;
  color: #029292;
  padding: 0 0.05rem;
  line-height: 0.25rem;
  border-bottom: #029292 solid 0.02rem;
}

.p-layer {
  position: fixed;
  z-index: 100;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  opacity: 0;
  visibility: hidden;
}
.p-layer.show {
  opacity: 1;
  visibility: visible;
}

.pageTips {
  position: fixed;
  z-index: 1000;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: #000 url("../image/bg.png");
}
.pageTips .container {
  color: #fff;
  position: absolute;
  left: 50%;
  top: 50%;
  width: 630px;
  margin-left: -315px;
  margin-top: -160px;
}
.pageTips .container a.close {
  display: block;
  width: 50px;
  height: 50px;
  position: absolute;
  z-index: 1;
  left: auto;
  right: -15px;
  top: 40px;
  bottom: auto;
  background: url("../image/close.png") center no-repeat;
}
.pageTips .container .img {
  text-align: center;
}
.pageTips .container .msg {
  font-size: 18px;
  line-height: 36px;
  padding-top: 30px;
}
.pageTips .container a {
  color: #fff;
  text-decoration: underline;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

html {
  font-size: 100px;
}

@font-face {
  font-family: 'PingFang'; /* 你可以自定义这个名字 */
  src: url('../asset/PingFang\ SC\(1\).ttf') format('truetype'); /* 更改 './fonts/myfont.ttf' 为你的字体文件实际路径 */
  font-weight: normal;
  font-style: normal;
}

body {
  font-size: 0.14rem;
  font-family: 'PingFang', "SourceSansPro-Regular", "微软雅黑";
  color: #000;
  -webkit-text-size-adjust: none;
}
body.hidden {
  overflow: hidden;
}

a {
  color: #000;
  text-decoration: none;
  outline: none;
}
a:active {
  star: expression(this.onFocus=this.blur());
}
a:link {
  text-decoration: none;
  outline: none;
}
a:visited {
  text-decoration: none;
  outline: none;
}
a:hover {
  text-decoration: none;
  color: #029292;
  outline: none;
}

li {
  list-style: outside none;
}

h1 {
  font-size: 16px;
}

h2, h3, h4, h5 {
  font-size: 14px;
  font-family: "方正大标宋_GBK";
}

h5 {
  font-size: 0.12rem;
}

textarea, input {
  background: transparent;
  font-size: 12px;
  font-family: "SourceSansPro-Regular", "微软雅黑";
  color: #888;
  outline: none;
  border: 0;
}

em {
  font-style: normal;
}

img {
  vertical-align: middle;
  max-width: 100%;
  border: 0;
}

.fl {
  float: left;
}

.fr {
  float: right;
}

.clear {
  clear: both;
  height: 0;
  display: block;
  _display: inherit;
}

.h10 {
  height: 0.1rem;
  overflow: hidden;
  clear: both;
}

.h50 {
  height: 0.5rem;
  overflow: hidden;
  clear: both;
}

.wal {
  max-width: 13.2rem;
  margin: 0 auto;
}

@font-face {
  font-family: "icon";
  src: url("fonts/icon.woff2") format("woff2"), url("fonts/icon.woff") format("woff"), url("fonts/icon.ttf") format("truetype"), url("fonts/icon.eot") format("embedded-opentype"), url("fonts/icon.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "SourceSansPro-Bold";
  src: url("fonts/SourceSansPro-Bold.woff2") format("woff2"), url("fonts/SourceSansPro-Bold.woff") format("woff"), url("fonts/SourceSansPro-Bold.ttf") format("truetype"), url("fonts/SourceSansPro-Bold.eot") format("embedded-opentype"), url("fonts/SourceSansPro-Bold.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "SourceSansPro-Regular";
  src: url("fonts/SourceSansPro-Regular.woff2") format("woff2"), url("fonts/SourceSansPro-Regular.woff") format("woff"), url("fonts/SourceSansPro-Regular.ttf") format("truetype"), url("fonts/SourceSansPro-Regular.eot") format("embedded-opentype"), url("fonts/SourceSansPro-Regular.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}
/*-------------------------*/
.g-head {
  position: fixed;
  z-index: 50;
  left: 0;
  top: 0.05rem;
  width: 100%;
}
.g-head:before {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  top: -0.05rem;
  right: 0;
  height: 1.38rem;
  background: url("../image/head-bg.png") center repeat-x;
  background-size: auto 99%;
}
.g-head:after {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  top: -0.05rem;
  right: 0;
  height: 0.05rem;
  background: url("../asset/img/head-bg2.png") center repeat-x;
  background-size: 100% 100%;
}
.g-head .wal {
  min-height: 1.1rem;
  position: relative;
  max-width: 100%;
  margin: 0 0.4rem;
}
.g-head a.logo {
  display: block;
  /* background: url("../asset/logo/logo.png") center no-repeat; */
  background: url("../asset/logo/logo_dwj.png") center no-repeat;
  background-size: 100%;
  width: 3rem;
  position: absolute;
  z-index: 1;
  left: 0;
  right: auto;
  top: 0;
  bottom: 0;
}
.g-head .btn-list {
  position: absolute;
  z-index: 1;
  left: auto;
  right: 1.36rem;
  top: 0;
  bottom: auto;
  height: 0.53rem;
  font-size: 0.12rem;
  color: #fff;
}
.g-head .btn-list a {
  color: #fff;
}
.g-head .btn-list ul {
  margin-right: 0.2rem;
}
.g-head .btn-list ul li {
  padding-left: 0.14rem;
}
.g-head .btn-list ul a {
  display: block;
  opacity: 0.75;
}
.g-head .btn-list ul a:hover {
  opacity: 1;
}
.g-head .btn-list .language {
  border-left: rgba(255, 255, 255, 0.37) solid 1px;
}
.g-head .btn-list .language .name {
  height: 0.16rem;
  opacity: 0.75;
  padding: 0 0.25rem 0 0.21rem;
}
.g-head .btn-list .language .name i {
  flex-shrink: 0;
  font-size: 0.14rem;
  margin-right: 0.1rem;
  font-style: normal;
}
.g-head .btn-list .language .name:hover {
  opacity: 1;
}
.g-head .btn-list .search {
  width: 0.2rem;
  height: 0.4rem;
  position: relative;
  z-index: 20;
}
.g-head .btn-list .search .btn {
  font-size: 0.18rem;
  opacity: 0.75;
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 5;
  line-height: 0.4rem;
}
.g-head .btn-list .search .btn input {
  width: 100%;
  height: 0.4rem;
  cursor: pointer;
  position: absolute;
  z-index: 1;
  left: 0;
  right: auto;
  top: 0;
  bottom: auto;
  display: none;
}
.g-head .btn-list .search .btn:hover {
  opacity: 1;
}
.g-head .btn-list .search .input {
  position: absolute;
  z-index: 1;
  left: auto;
  right: -0.12rem;
  top: 0;
  bottom: auto;
  height: 0.4rem;
  width: 0.2rem;
  background: #fff;
  opacity: 0;
  visibility: hidden;
}
.g-head .btn-list .search .input input {
  width: 100%;
  height: 0.4rem;
  line-height: 0.4rem;
  font-size: 0.14rem;
  padding: 0 0.12rem;
}
.g-head .btn-list .search.on .btn {
  color: #029292;
}
.g-head .btn-list .search.on .btn input {
  display: block;
}
.g-head .btn-list .search.on .input {
  width: 3rem;
  opacity: 1;
  visibility: visible;
}
.g-head a.navA {
  position: absolute;
  z-index: 1;
  left: auto;
  right: -0.4rem;
  top: 0;
  bottom: auto;
  background: url("../asset/img/img100.png") center no-repeat;
  background-size: 100% 100%;
  width: 1rem;
  height: 0.8rem;
}
.g-head a.navA:after {
  content: "";
  display: block;
  position: absolute;
  left: 0.1rem;
  top: 0;
  right: 0;
  bottom: 0;
  background: url("../image/navA.png") center no-repeat;
  background-size: 0.31rem;
}

.g-nav {
  position: absolute;
  z-index: 1;
  left: auto;
  right: 1.36rem;
  top: 0.35rem;
  bottom: auto;
}
.g-nav li {
  position: relative;
  margin-left: 0.32rem;
}
.g-nav a.name {
  display: block;
  height: 0.62rem;
  line-height: 0.62rem;
  font-size: 0.18rem;
  color: #fff;
  font-weight: bold;
  padding-right: 0.2rem;
  position: relative;
}
.g-nav a.name i.line {
  display: block;
  position: absolute;
  left: 0;
  top: 100%;
  right: 0.2rem;
  height: 0.02rem;
  background: #e2ca5b;
  margin-top: -0.12rem;
  opacity: 0;
}
.g-nav a.name em {
  display: block;
  margin-right: -0.2rem;
  padding-right: 0.2rem;
  position: relative;
}
.g-nav a.name em:after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  font-size: 0.12rem;
  font-family: "icon";
  content: "\eaed";
}
.g-nav a.name.on {
  color: #e2ca5b;
}
.g-nav a.name.on i.line {
  opacity: 1;
}
.g-nav .list {
  position: absolute;
  z-index: 1;
  left: 50%;
  right: auto;
  top: -100vh;
  bottom: auto;
  background: #fff;
  width: 2rem;
  margin-left: -1rem;
  box-shadow: 0 0 0.38rem 0 rgba(0, 0, 0, 0.19);
  -webkit-box-shadow: 0 0 0.38rem 0 rgba(0, 0, 0, 0.19);
  -moz-box-shadow: 0 0 0.38rem 0 rgba(0, 0, 0, 0.19);
  border-top: #EE9640 solid 0.04rem;
  padding: 0.2rem 0;
  opacity: 0;
  visibility: hidden;
}
.g-nav .list a {
  display: block;
  text-align: center;
  font-size: 0.17rem;
  line-height: 0.48rem;
  color: #6510AD;
}
.g-nav .list a:hover {
  background: #ededed;
}
.g-nav li:hover a.name {
  color: #e2ca5b;
}
.g-nav li:hover a.name i.line {
  opacity: 1;
}
.g-nav li:hover .list {
  opacity: 1;
  visibility: visible;
  top: 100%;
  transition: opacity 0.5s ease;
  -webkit-transition: opacity 0.5s ease;
  -moz-transition: opacity 0.5s ease;
  -o-transition: opacity 0.5s ease;
}

.g-nav2 {
  position: fixed;
  z-index: 49;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background: url("../asset/img/nav-bg.jpg") center no-repeat;
  background-size: cover;
  opacity: 0;
  visibility: hidden;
}
.g-nav2 .scroll {
  position: absolute;
  z-index: 1;
  left: 0;
  right: 0;
  top: 0.8rem;
  bottom: 0;
  overflow-y: auto;
}
.g-nav2 .scroll ul {
  max-width: 17.85rem;
  margin: 0 auto;
}
.g-nav2 .scroll li {
  width: 14.285%;
  text-align: center;
  padding-top: 0.45rem;
}
.g-nav2 .scroll li a {
  color: #fff;
}
.g-nav2 .scroll li h2 {
  font-size: 0.22rem;
  
}
.g-nav2 .scroll li .list {
  padding: 0.2rem 0;
}
.g-nav2 .scroll li .list h3 {
  font-weight: 400;
  font-size: 0.17rem;
  line-height: 0.36rem;
}
.g-nav2 .scroll li .list dl {
  padding-bottom: 0.2rem;
}
.g-nav2 .scroll li .list dd {
  font-size: 0.12rem;
  line-height: 0.3rem;
  opacity: 0.65;
}
.g-nav2 .scroll li .list dd:hover {
  opacity: 1;
}

.g-foot {
  position: relative;
  color: #fff;
  font-size: 0.12rem;
}
.g-foot a {
  color: #fff;
}
.g-foot:before {
  content: "";
  display: block;
  position: absolute;
  left: 4.5%;
  bottom: 0;
  right: 0;
  height: 1.92rem;
  background: #C6CFD7;
}
.g-foot:after {
  content: "";
  display: block;
  position: absolute;
  left: 7.1%;
  bottom: 0;
  right: 0;
  height: 100%;
  background: #029292;
}
.g-foot .wal {
  min-height: 2.35rem;
  position: relative;
  z-index: 2;
}
.g-foot .logo {
  position: absolute;
  z-index: 1;
  left: 0;
  right: auto;
  top: 0.46rem;
  bottom: auto;
  width: 1.8rem;
}
.g-foot .list {
  position: absolute;
  z-index: 1;
  left: 2.3rem;
  right: auto;
  top: 0.5rem;
  bottom: auto;
  width: 3.5rem;
}
.g-foot .list li {
  height: 0.24rem;
  padding-right: 0.2rem;
}
.g-foot .list li .p-ico, .g-foot .list li .index-flow .container .video i, .index-flow .container .video .g-foot .list li i, .g-foot .index-flow .container .list li a i, .index-flow .container .g-foot .list li a i, .g-foot .index-flow .container .list a li i, .index-flow .container .g-foot .list a li i, .g-foot .list li .index-events .list-wrapper dd.li-dd dl.info em, .index-events .list-wrapper dd.li-dd dl.info .g-foot .list li em, .g-foot .list .index-search .search-result li a i, .index-search .search-result .g-foot .list li a i {
  font-size: 0.14rem;
  margin-right: 0.1rem;
  flex-shrink: 0;
}
.g-foot .info {
  position: absolute;
  z-index: 1;
  left: 0;
  right: 0;
  top: auto;
  bottom: 0;
  height: 0.69rem;
  border-top: rgba(255, 255, 255, 0.27) solid 1px;
}
.g-foot .info div p {
  opacity: 0.36;
  line-height: 0.45rem;
  padding-right: 0.12rem;
}
.g-foot .info .tel {
  height: 0.45rem;
}
.g-foot .info .tel i {
  font-size: 0.14rem;
  margin-right: 0.08rem;
  font-style: normal;
}

@media screen and (max-width: 1840px) {
  .g-foot:before {
    left: 0.4rem;
  }
  .g-foot:after {
    left: 0.8rem;
  }
}
@media screen and (min-width: 1930px) {
  .g-foot:before {
    left: 50%;
    margin-left: -9.4rem;
  }
  .g-foot:after {
    left: 50%;
    margin-left: -8.9rem;
  }
}
body.navShow {
  overflow: hidden;
}
body.navShow .g-head .btn-list {
  height: 1.1rem;
}
body.navShow .g-head a.navA:after {
  background-image: url("../image/img31.png");
}
body.navShow .g-nav {
  opacity: 0;
  visibility: hidden;
}
body.navShow .g-nav2 {
  opacity: 1;
  visibility: visible;
}

/*index*/
.index-video {
  width: 100%;
  height: 100vh;
  overflow: hidden;
  position: relative;
}
.index-video video, .index-video img {
  position: absolute;
  left: 50%;
  top: 50%;
  min-height: 100%;
  min-width: 100%;
  max-width: 1000%;
  transform: translate(-50%, -50%);
}
.index-video .btn {
  background: url("../image/btn42.png") center no-repeat;
  background-size: cover;
  width: 0.42rem;
  height: 0.42rem;
  position: absolute;
  z-index: 1;
  left: auto;
  right: 0.3rem;
  top: auto;
  bottom: 0.9rem;
  cursor: pointer;
}

.index-flash {
  width: 100%;
  overflow: hidden;
  position: relative;
}
.index-flash li {
  position: relative;
  height: 100vh;
  overflow: hidden;
}
.index-flash li video {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  min-height: 100%;
  min-width: 100%;
  height: auto;
  width: 100%;
  object-fit: cover;
}
.index-flash li .video-btn {
  background: url("../image/btn108.png") center no-repeat;
  background-size: 100%;
  width: 1.08rem;
  height: 1.08rem;
  position: absolute;
  z-index: 1;
  left: 50%;
  right: auto;
  top: 50%;
  bottom: auto;
  margin-left: -0.54rem;
  margin-top: -0.54rem;
  cursor: pointer;
  opacity: 0;
}
.index-flash li .img a {
  position: relative;
  display: block;
  height: 100vh;
  overflow: hidden;
  width: 100%;
}
.index-flash li .img a:before {
  content: "";
  display: block;
  position: absolute;
  z-index: 5;
  left: 0;
  bottom: 0;
  right: 0;
  top: 0;
  background: url("../image/bg20.png") center bottom repeat-x;
  background-size: auto 5.19rem;
}
.index-flash li .img a img {
  position: absolute;
  left: 50%;
  top: 50%;
  width: 100%;
  height: 100%;
  transform: translate(-50%, -50%);
  object-fit: cover;
}
.index-flash li .name a {
  display: block;
  color: #fff;
  text-align: center;
  font-weight: bold;
  position: absolute;
  z-index: 5;
  left: 0;
  right: 0;
  top: auto;
  bottom: 1.1rem;
  font-size: 0.24rem;
  padding: 0 0.3rem;
  height: 1.3em;
  line-height: 1.3em;
}
.index-flash .btn {
  position: absolute;
  z-index: 5;
  left: 0;
  right: 0;
  top: auto;
  bottom: 1.6rem;
}
.index-flash .btn .dots span {
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  margin: 0 8px;
  width: 10px;
  height: 10px;
  background: rgba(255, 255, 255, 0.78);
  opacity: 1; 
display: inline-block;
}
.index-flash .btn .dots span.swiper-pagination-bullet-active {
  background: #dcc55a;
}
.index-flash .btn a {
  font-size: 12px;
  color: #fff;
  height: 14px;
  line-height: 14px;
  border-left: rgba(255, 255, 255, 0.65) solid 1px;
  margin-left: 12px;
  padding-left: 17px;
}
.index-flash .btn a:hover {
  color: #dcc55a;
}
.index-flash .arrow a {
  display: block;
  width: 0.53rem;
  height: 0.53rem;
  background: center no-repeat;
  background-size: 100%;
  position: absolute;
  z-index: 1;
  left: auto;
  right: auto;
  top: 50%;
  bottom: auto;
  margin-top: -0.26rem;
  opacity: 0;
}
.index-flash .arrow a.prev {
  left: 0.28rem;
  background-image: url("../asset/but/zuoH.png");
}
.index-flash .arrow a.next {
  right: 0.28rem;
  background-image: url("../asset/but/youH.png");
}
.index-flash:hover .arrow a {
  opacity: 0.5;
}
.index-flash:hover .arrow a:hover {
  opacity: 1;
}

.index-flash-vertical li video {
  width: auto;
  height: 100%;
}
.index-flash-vertical li .img a img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.index-search-bg {
  position: fixed;
  z-index: 100;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  display: none;
}

.index-search {
  height: 1.1rem;
  position: relative;
  max-width: 11.5rem;
  margin: 0 auto;
}
.index-search .wal {
  position: relative;
  z-index: 10;
  background: url("../asset/img/shousuo.png") center top no-repeat;
  background-size: 100%;
  min-height: 1.67rem;
  padding: 0 0.76rem 0 0.6rem;
  top: -0.81rem;
}
.index-search .form {
  border-bottom: #029292 solid 0.02rem;
  height: 0.81rem;
  padding-top: 0.1rem;
  position: relative;
}
.index-search .form .name {
  font-size: 0.3rem;
  color: #0292927d;
  line-height: 0.7rem;
}
.index-search .form .name em {
  color: #0292927d;
  font-size: 0.18rem;
  text-transform: uppercase;
  padding-left: 0.15rem;
}
.index-search .form .input {
  position: absolute;
  z-index: 1;
  left: 0;
  right: 0;
  top: 0.1rem;
  bottom: auto;
}
.index-search .form .input input {
  width: 100%;
  height: 0.7rem;
  line-height: 0.7rem;
  font-size: 0.3rem;
  color: #333;
}
.index-search .form .submit {
  position: absolute;
  z-index: 2;
  top: 0.1rem;
  right: 0;
  bottom: 0;
  width: 0.64rem;
  background: url("../image/search24.png") center no-repeat;
  background-size: 0.24rem;
}
.index-search .form .submit input {
  width: 100%;
  height: 0.81rem;
  cursor: pointer;
}
.index-search .hot-words {
  padding: 0.1rem 0;
  line-height: 0.33rem;
  color: #A0A0A0;
}
.index-search .hot-words .name {
  font-weight: bold;
  flex-shrink: 0;
}
.index-search .hot-words .p-ico, .index-search .hot-words .index-flow .container .video i, .index-flow .container .video .index-search .hot-words i, .index-search .hot-words .index-flow .container .list a i, .index-flow .container .list a .index-search .hot-words i, .index-search .hot-words .index-events .list-wrapper dd.li-dd dl.info em, .index-events .list-wrapper dd.li-dd dl.info .index-search .hot-words em, .index-search .hot-words .search-result li a i, .index-search .search-result li a .hot-words i {
  font-size: 0.12rem;
  flex-shrink: 0;
  margin-left: 0.08rem;
  margin-right: 0.28rem;
}
.index-search .hot-words li {
  padding-right: 0.14rem;
}
.index-search .hot-words li a.on {
  font-weight: bold;
  color: #029292;
}
.index-search .search-result {
  background: #fff;
  padding: 0.35rem 0.6rem 0.46rem 0.6rem;
  position: absolute;
  z-index: 1;
  left: 0;
  right: 0;
  top: 0.81rem;
  bottom: auto;
  display: none;
}
.index-search .search-result .name {
  padding-bottom: 0.1rem;
}
.index-search .search-result .name h3 {
  font-size: 0.22rem;
  color: #029292;
}
.index-search .search-result .name a {
  font-size: 0.12rem;
  margin-left: 0.13rem;
  color: #9D9D9D;
}
.index-search .search-result .name a:hover {
  color: #029292;
}
.index-search .search-result ul {
  padding-bottom: 0.3rem;
}
.index-search .search-result li {
  font-size: 0.16rem;
  line-height: 0.34rem;
}
.index-search .search-result li a {
  color: #000;
  padding-right: 0.17rem;
  display: inline-block;
  position: relative;
}
.index-search .search-result li a i {
  position: absolute;
  z-index: 1;
  left: auto;
  right: 0;
  top: 0;
  bottom: auto;
  color: #787878;
  font-style: normal;
  transform: rotate(-90deg);
  -webkit-transform: rotate(-90deg);
  -moz-transform: rotate(-90deg);
}
.index-search .search-result li a:hover {
  color: #029292;
}
.index-search .search-result li a:hover i {
  color: #029292;
}
.index-search .search-result .btn a {
  display: block;
  text-align: center;
  line-height: 0.54rem;
  color: #fff;
  -moz-border-radius: 0.06rem;
  -webkit-border-radius: 0.06rem;
  border-radius: 0.06rem;
  background: url("../image/btn.jpg") center no-repeat;
  background-size: cover;
}

.index-search.on {
  z-index: 110;
}
.index-search.on .form .name, .index-search.on .hot-words {
  opacity: 0;
  visibility: hidden;
}
.index-search.on .search-result {
  display: block;
}

.index-news .col-1 {
  width: 2.8rem;
}
.index-news .col-1 .title {
  font-size: 0.16rem;
  text-transform: uppercase;
  color: #666;
  padding-top: 0.15rem;
  line-height: 0.45rem;
}
.index-news .col-1 .title span {
  padding-left: 0.1rem;
}
.index-news .col-1 li {
  border-bottom: #E2E2E2 solid 1px;
}
.index-news .col-1 li:last-child {
  border: 0;
}
.index-news .col-1 li a {
  display: block;
  color: #000;
}
.index-news .col-1 li a .img {
  width: 100%;
  overflow: hidden;
  position: relative;
  margin-bottom: -0.08rem;
}
.index-news .col-1 li a .img img {
  width: 100%;
}
.index-news .col-1 li a .name {
  font-size: 0.17rem;
  line-height: 0.24rem;
  font-weight: bold;
  padding: 0.25rem 0;
}
.index-news .col-1 li a:hover {
  color: #029292;
}
.index-news .col-1 li a:hover img {
  transform: scale(1.2);
  -webkit-transform: scale(1.2);
  -moz-transform: scale(1.2);
  -o-transform: scale(1.2);
}
.index-news .col-2 {
  width: 6.71rem;
  position: relative;
  min-height: 7.2rem;
}
.index-news .col-2:before {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  border-left: #D6D6D6 solid 1px;
  border-right: #D6D6D6 solid 1px;
}
.index-news .col-2 .list {
  position: relative;
  width: 100%;
  overflow: hidden;
}
.index-news .col-2 .list li {
  text-align: center;
}
.index-news .col-2 .list li .img {
  width: 100%;
  overflow: hidden;
  position: relative;
}
.index-news .col-2 .list li .img img {
  width: 100%;
}
.index-news .col-2 .list li .img:hover img {
  transform: scale(1.2);
  -webkit-transform: scale(1.2);
  -moz-transform: scale(1.2);
  -o-transform: scale(1.2);
}
.index-news .col-2 .list li .title {
  color: #029292;
  font-size: 0.12rem;
  padding-top: 0.22rem;
  text-transform: uppercase;
  line-height: 1em;
}
.index-news .col-2 .list li .title:before, .index-news .col-2 .list li .title:after {
  content: "";
  display: block;
  position: absolute;
  position: relative;
  width: 0.15rem;
  height: 1px;
  background: #029292;
  opacity: 0.64;
  margin: 0 0.15rem;
}
.index-news .col-2 .list li .title span {
  padding-left: 0.1rem;
}
.index-news .col-2 .list li .name a {
  display: block;
  font-size: 0.24rem;
  line-height: 0.3rem;
  color: #555;
  padding: 0.15rem 0.55rem 0.2rem 0.55rem;
}
.index-news .col-2 .list li .name a:hover {
  color: #029292;
}
.index-news .col-2 .list li p {
  font-size: 0.13rem;
  line-height: 0.22rem;
  padding: 0 0.8rem;
  color: #888;
}
.index-news .col-2 .arrow {
  position: absolute;
  z-index: 1;
  left: 0.6rem;
  right: 0.6rem;
  top: auto;
  bottom: 0.35rem;
}
.index-news .col-2 .arrow a {
  width: 0.58rem;
  height: 0.3rem;
  background: center no-repeat;
  background-size: 100%;
}
.index-news .col-2 .arrow a.prev {
  background-image: url("../asset/but/左.png");
}
.index-news .col-2 .arrow a.next {
  background-image: url("../asset/but/右.png");
}
.index-news .col-2 .arrow .dots span {
  width: 0.08rem;
  height: 0.08rem;
  margin: 0 0.05rem;
  background: #9D9D9D;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
}
.index-news .col-2 .arrow .dots span.swiper-pagination-bullet-active {
  background: #029292;
}

.index-events {
  min-height: 7.2rem;
  position: relative;
}
.index-events:before {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 50%;
  margin-right: -6.6rem;
  background: #F2F3F9;
}
.index-events .wal {
  position: relative;
  height: 2.2rem;
}
.index-events .wal .title {
  padding-right: 0.68rem;
  position: relative;
  color: #000;
  font-size: 0.18rem;
  text-transform: uppercase;
  line-height: 1em;
}
.index-events .wal .title:after {
  content: "";
  display: block;
  position: absolute;
  top: 50%;
  right: 0.3rem;
  width: 0.04rem;
  height: 0.54rem;
  background: #029292;
  margin-top: -0.27rem;
}
.index-events .wal .title h2 {
  font-size: 0.34rem;
  font-weight: 400;
  line-height: 1em;
  padding-top: 0.06rem;
  font-family: "方正大标宋_GBK";
}
.index-events .wal p {
  line-height: 0.26rem;
  color: #929292;
  width: 5.26rem;
  margin-right: 0.78rem;
}
.index-events .wal .more {
  margin-right: 2.38rem;
}
.index-events .wal .arrow a {
  width: 0.53rem;
  height: 0.53rem;
  background: center no-repeat;
  background-size: 100%;
}
.index-events .wal .arrow a.prev {
  background-image: url("../asset/but/左滑.png");
}
.index-events .wal .arrow a.next {
  background-image: url("../asset/but/右滑.png");
  margin-left: 0.39rem;
}
.index-events .list {
  width: 100%;
  overflow: hidden;
  position: relative;
}
.index-events .list-wrapper {
  width: 36.9rem;
  position: relative;
  left: 50%;
  margin-left: -18.45rem;
}
.index-events .list-wrapper dd.li-dd {
  padding: 0 0.15rem;
  width: 33.333%;
}
.index-events .list-wrapper dd.li-dd .name a {
  color: #000;
  display: block;
  line-height: 1em;
  padding-bottom: 1em;
}
.index-events .list-wrapper dd.li-dd .img {
  width: 100%;
  overflow: hidden;
  position: relative;
}
.index-events .list-wrapper dd.li-dd .img img {
  width: 100%;
}
.index-events .list-wrapper dd.li-dd .img:hover img {
  transform: scale(1.2);
  -webkit-transform: scale(1.2);
  -moz-transform: scale(1.2);
  -o-transform: scale(1.2);
}
.index-events .list-wrapper dd.li-dd .name2 {
  padding: 0.22rem 0;
}
.index-events .list-wrapper dd.li-dd .name2 a {
  display: block;
  font-size: 0.17rem;
  line-height: 0.24rem;
  font-weight: bold;
  color: #000;
  height: 0.48rem;
  overflow: hidden;
}
.index-events .list-wrapper dd.li-dd .name2 a:hover {
  color: #029292;
}
.index-events .list-wrapper dd.li-dd dl.info {
  position: relative;
  font-size: 0.12rem;
  color: #9574AC;
}
.index-events .list-wrapper dd.li-dd dl.info:before {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  top: 50%;
  width: 1px;
  height: 0.38rem;
  margin-top: -0.19rem;
  background: #029292;
}
.index-events .list-wrapper dd.li-dd dl.info dd {
  height: 0.24rem;
  line-height: 1em;
}
.index-events .list-wrapper dd.li-dd dl.info em {
  font-size: 0.16rem;
  color: #029292;
  text-align: center;
  width: 0.37rem;
  padding-left: 0.05rem;
  position: relative;
  top: 0.01rem;
}

.index-research {
  position: relative;
  width: 100%;
}
.index-research .wal {
  min-height: 9.08rem;
  position: relative;
}
.index-research .title {
  padding: 1.65rem 0 0.2rem 0;
  position: relative;
  color: #000;
  font-size: 0.18rem;
  text-transform: uppercase;
  line-height: 1em;
}
.index-research .title:after {
  content: "";
  display: block;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0.68rem;
  height: 0.04rem;
  background: #029292;
}
.index-research .title h2 {
  font-size: 0.34rem;
  font-weight: 400;
  line-height: 1em;
  padding-top: 0.06rem;
  font-family: "方正大标宋_GBK";
}
.index-research .content {
  line-height: 0.26rem;
  color: #929292;
  width: 3.6rem;
  padding: 0.35rem 0 0.3rem 0;
}
.index-research .list {
  position: absolute;
  z-index: 11;
  left: 0;
  right: auto;
  top: auto;
  bottom: 0;
  width: 3.95rem;
}
.index-research .list li {
  border-bottom: #e7e7e7 solid 1px;
  position: relative;
}
.index-research .list li:before {
  content: "";
  display: block;
  position: absolute;
  left: -0.3rem;
  top: -1px;
  bottom: -1px;
  width: 5.05rem;
  background: url("../asset/img/choulaimg.png") right center no-repeat;
  background-size: 100%;
  opacity: 0;
}
.index-research .list li:after {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  top: 50%;
  background: #029292;
  width: 0.02rem;
  height: 0.48rem;
  margin-top: -0.24rem;
  opacity: 0;
}
.index-research .list li .img {
  display: none;
}
.index-research .list li a.name {
  display: block;
  font-size: 0.17rem;
  line-height: 0.26rem;
  color: #000;
  font-weight: bold;
  padding: 0.15rem 0;
  position: relative;
  left: 0;
}
.index-research .list li:hover:before, .index-research .list li.on:before {
  opacity: 1;
  left: 0;
}
.index-research .list li:hover:after, .index-research .list li.on:after {
  opacity: 1;
}
.index-research .list li:hover a.name, .index-research .list li.on a.name {
  color: #029292;
  left: 0.3rem;
}
.index-research .big-img {
  position: absolute;
  z-index: 1;
  left: 50%;
  right: 0;
  top: auto;
  bottom: 0;
  margin-left: -2.12rem;
  padding-top: 0.46rem;
}
.index-research .big-img:before {
  content: "";
  display: block;
  position: absolute;
  left: 1.13rem;
  top: 0;
  right: 0;
  bottom: 0;
  background: url("../asset/img/img1080bg.png") center top no-repeat;
  background-size: 100%;
}
.index-research .big-img:after {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  top: 0.46rem;
  right: 0;
  bottom: 0;
  background: #fff;
}
.index-research .big-img a {
  height: 7.4rem;
  position: relative;
  background: center no-repeat;
  background-size: cover;
  display: block;
  z-index: 2;
}

.index-admissions {
  background: url("../asset/img/bg3.png") center bottom no-repeat;
  background-size: auto 7.07rem;
  min-height: 7.07rem;
  text-align: center;
  position: relative;
  z-index: 1;
}
.index-admissions .title {
  padding: 1.05rem 0 0.2rem 0;
  position: relative;
  color: #000;
  font-size: 0.18rem;
  text-transform: uppercase;
  line-height: 1em;
}
.index-admissions .title:after {
  content: "";
  display: block;
  position: absolute;
  bottom: 0;
  left: 50%;
  margin-left: -0.34rem;
  width: 0.68rem;
  height: 0.04rem;
  background: #029292;
}
.index-admissions .title h2 {
  font-size: 0.34rem;
  font-weight: 400;
  line-height: 1em;
  padding-top: 0.06rem;
  font-family: "方正大标宋_GBK";
}
.index-admissions .content {
  line-height: 0.26rem;
  color: #929292;
  padding: 0.3rem 0 0.35rem 0;
  max-width: 6.02rem;
  margin: 0 auto;
}
.index-admissions .list {
  width: 100%;
  overflow: hidden;
  position: relative;
}
.index-admissions .list dd {
  width: 20%;
  max-width: 2.23rem;
}
.index-admissions .list dd .ico {
  width: 1.22rem;
  margin: 0 auto;
}
.index-admissions .list dd .info {
  font-size: 0.12rem;
  color: #000;
  padding: 0.2rem 0 0 0.1rem;
}
.index-admissions .list dd .info b {
  font-size: 0.3rem;
  color: #029292;
}
.index-admissions .list dd p {
  padding-top: 0.05rem;
  line-height: 0.18rem;
  color: #929292;
}
.index-admissions .dots {
  padding: 0.3rem 0 0.5rem 0;
}
.index-admissions .dots span {
  width: 0.08rem;
  height: 0.08rem;
  margin: 0 0.05rem;
  background: #9D9D9D;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
}
.index-admissions .dots span.swiper-pagination-bullet-active {
  background: #029292;
}

.index-flow {
  position: relative;
  min-height: 16rem;
}
.index-flow:before {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  top: 1.6rem;
  right: 0;
  background: url("../asset/img/bg4.png") center no-repeat;
  background-size: cover;
  height: 13.08rem;
}
.index-flow .container {
  margin-top: -0.93rem;
  padding-bottom: 1rem;
  position: relative;
  z-index: 5;
}
.index-flow .container .list {
  width: 3.19rem;
  height: 6.68rem;
  flex-shrink: 0;
  background: url("../asset/img/shangxia.png") center no-repeat;
  background-size: 100% 100%;
  padding: 0.6rem 0.5rem 0 0.5rem;
  position: absolute;
  z-index: 1;
  left: 0;
  right: auto;
  top: auto;
  bottom: 1rem;
}
.index-flow .container .list ul {
  margin-bottom: 0.4rem;
}
.index-flow .container .list a {
  display: block;
  color: #000;
  font-weight: bold;
  line-height: 0.6rem;
  border-bottom: #B3B3B3 solid 1px;
  position: relative;
  font-size: 0.18rem;
}
.index-flow .container .list a i {
  position: absolute;
  z-index: 1;
  left: auto;
  right: 0;
  top: 0;
  bottom: auto;
  font-style: normal;
  font-weight: 100;
}
.index-flow .container .list a:hover {
  color: #029292;
}
.index-flow .container .video {
  width: 10.01rem;
  position: relative;
  margin-left: auto;
}
.index-flow .container .video i {
  position: absolute;
  z-index: 1;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  font-style: normal;
  font-size: 0.82rem;
  color: #029292;
  cursor: pointer;
}
.index-flow .title {
  padding: 0.35rem 0 0.45rem 0;
  position: relative;
  font-size: 0.18rem;
  text-transform: uppercase;
  line-height: 1em;
  color: #fff;
  z-index: 5;
}
.index-flow .title:after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 3.45rem;
  height: 0.03rem;
  background: #EE9640;
}
.index-flow .title a.more {
  display: block;
  color: #fff;
  border-bottom: #fff solid 2px;
  position: absolute;
  z-index: 1;
  left: 4.15rem;
  right: auto;
  top: 0.63rem;
  bottom: auto;
  line-height: 26px;
  padding: 0 5px;
  font-size: 12px;
}
.index-flow .title a.more:hover {
  color: #EE9640;
  border-color: #EE9640;
}
.index-flow .title h2 {
  font-size: 0.34rem;
  font-weight: 400;
  line-height: 1em;
  padding-top: 0.06rem;
  font-family: "方正大标宋_GBK";
}
.index-flow .title dl {
  position: absolute;
  z-index: 1;
  left: auto;
  right: 0;
  top: auto;
  bottom: 0.45rem;
}
.index-flow .title dl dd {
  margin-left: 0.2rem;
  position: relative;
}
.index-flow .title dl dd a {
  display: block;
  width: 0.56rem;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.11);
  position: relative;
  z-index: 2;
}
.index-flow .title dl dd a:hover {
  background: #6510AD;
}
.index-flow .title dl dd .layer {
  -moz-border-radius: 0.1rem;
  -webkit-border-radius: 0.1rem;
  border-radius: 0.1rem;
  background: #fff;
  width: 2.47rem;
  position: absolute;
  z-index: 1;
  left: 50%;
  right: auto;
  top: 100%;
  bottom: auto;
  margin-left: -2rem;
  margin-top: 0;
  padding: 0.18rem 0.2rem;
  opacity: 0;
  visibility: hidden;
}
.index-flow .title dl dd .layer:after {
  content: "";
  display: block;
  position: absolute;
  top: -0.06rem;
  right: 0.35rem;
  width: 0.2rem;
  height: 0.2rem;
  background: #fff;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
}
.index-flow .title dl dd .layer .ewm {
  width: 50%;
  text-align: center;
}
.index-flow .title dl dd .layer .ewm img {
  width: 1rem;
}
.index-flow .title dl dd .layer .ewm .name {
  font-size: 12px;
  padding-top: 0.03rem;
  color: #727084;
}
.index-flow .title dl dd.more a {
  background: rgba(255, 255, 255, 0.58);
}
.index-flow .title dl dd.more .layer {
  background: #000;
  font-size: 0.12rem;
  width: auto;
  padding: 0.1rem 0.2rem;
  -moz-border-radius: 0.2rem;
  -webkit-border-radius: 0.2rem;
  border-radius: 0.2rem;
  left: auto;
  right: -60%;
}
.index-flow .title dl dd.more .layer:after {
  background: #000;
  left: 50%;
  margin-left: -0.1rem;
  z-index: -1;
}
.index-flow .title dl dd:hover a {
  background: #029292;
}
.index-flow .title dl dd:hover .layer {
  margin-top: 0.18rem;
  opacity: 1;
  visibility: visible;
}
.index-flow .title dl dd:hover.more img {
  filter: brightness(10);
}
.index-flow .img-list {
  max-width: 18.4rem;
  margin: 0 auto;
  padding: 0 0.4rem;
  position: relative;
}
.index-flow .img-list li {
  width: 25%;
}
.index-flow .img-list li a {
  display: block;
  position: relative;
}
.index-flow .img-list li a:before {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
  background: url("../image/bg10.png") center repeat-x;
  background-size: auto 100%;
}
.index-flow .img-list li a .img {
  width: 100%;
  overflow: hidden;
  position: relative;
}
.index-flow .img-list li a .img img {
  width: 100%;
}
.index-flow .img-list li a .layer {
  position: absolute;
  z-index: 1;
  left: 0;
  right: 0;
  top: auto;
  bottom: 0;
  padding: 0 0.4rem;
  color: #fff;
}
.index-flow .img-list li a .layer .time {
  font-size: 0.12rem;
  opacity: 0.6;
}
.index-flow .img-list li a .layer p {
  width: 100%;
  font-size: 0.16rem;
  line-height: 0.26rem;
  margin-top: 0.02rem;
  max-height: 1.04rem;
  overflow: hidden;
}
.index-flow .img-list li a .layer .info {
  border-bottom: #EE9640 solid 0.07rem;
  font-size: 0.14rem;
  padding: 0.2rem 0;
}
.index-flow .img-list li a .layer .info img {
  height: 0.21rem;
  margin-right: 0.1rem;
}
.index-flow .img-list li a .layer .info-2 {
  border-color: #47D800;
}
.index-flow .img-list li a:hover .img img {
  transform: scale(1.2);
  -webkit-transform: scale(1.2);
  -moz-transform: scale(1.2);
  -o-transform: scale(1.2);
}
.index-flow .img-list li.li_01 {
  width: 50%;
}

.foot-link {
  position: relative;
  min-height: 4.02rem;
}
.foot-link .title {
  font-size: 0.34rem;
  color: #000;
  line-height: 1em;
  padding: 1.1rem 0 0.3rem 0;
}
.foot-link .list {
  max-width: 7.59rem;
}
.foot-link .list li {
  width: 33.333%;
  padding: 0.05rem 0.65rem 0 0;
}
.foot-link .list a {
  display: block;
  border-bottom: #DDD solid 1px;
  font-size: 0.16rem;
  color: #616161;
  line-height: 0.45rem;
}
.foot-link .list a:hover {
  color: #000;
}
.foot-link .ewm {
  width: 2.19rem;
  position: absolute;
  z-index: 1;
  left: auto;
  right: 0;
  top: auto;
  bottom: -0.6rem;
}
.foot-link .ewm p {
  text-align: center;
  font-size: 12px;
  color: #fff;
  padding-top: 0.14rem;
}

/*20221015两会红色
.style-red .index-search .form .name, .style-red .index-search .form .name em {
  color: rgba(235, 31, 31, 0.4);
}
.style-red .index-search .form {
  border-bottom-color: #b20000;
}
.style-red .g-foot:after {
  background: #b20000;
}
.style-red .g-head a.navA {
  background-image: url(../image/img100-red.png);
}
.style-red .g-head:after {
  background-image: url(../image/head-bg2-red.jpg);
}
.style-red .index-research .big-img:before {
  background-image: url(../image/img1080-red.jpg);
}
.style-red .index-flow:before {
  background-image: url(../image/index-flow-red.jpg);
}
*/

/*美院结束 */

.index-flow .img-list li a .layer .info-3 {border-color: #ef01fe; }
.index-flow .img-list li a .layer .info-4 {border-color: #00e9ff; }



.fga{color:#fff}
.fga:hover{color:#ee9640}
.index-admissions .dots,.index-admissions .list{    z-index:10;}
.g-head .btn-list .search .input input{    width: 88%;}
.pageTips .container a.close{display:none !important}
