/* Make clicks pass-through */
#nprogress {
  pointer-events: none;
}

#nprogress .bar {
  background: #ff009d;
  position: fixed;
  z-index: 1031;
  top: 0;
  left: 0;

  width: 100%;
  height: 2px;
}

/* Fancy blur effect */
#nprogress .peg {
  display: block;
  position: absolute;
  right: 0px;
  width: 100px;
  height: 100%;
  box-shadow: 0 0 10px #ff009d, 0 0 5px #ff009d;
  opacity: 1.0;

  -webkit-transform: rotate(3deg) translate(0px, -4px);
      -ms-transform: rotate(3deg) translate(0px, -4px);
          transform: rotate(3deg) translate(0px, -4px);
}

/* Remove these to get rid of the spinner */
#nprogress .spinner {
  display: block;
  position: fixed;
  z-index: 1031;
  right: 20px; /* 或其他适合你布局的值 */
  top: 20px; /* 同上 */
}

#nprogress .spinner-icon {
  width: 32px; /* 增大圆圈直径 */
  height: 32px; /* 增大圆圈直径 */
  border-width: 10px; /* 边框加粗，让圆圈看起来更饱满 */
  box-sizing: border-box;

  border: solid 1px transparent;
  border-top-color: #ff009d;
  border-left-color: #ff009d;
  border-radius: 50%;

  /* 调整动画速度，使其更平滑或更快 */
  -webkit-animation: nprogress-spinner 600ms linear infinite; /* 可根据需要调整时间 */
          animation: nprogress-spinner 600ms linear infinite;
}

.nprogress-custom-parent {
  overflow: hidden;
  position: relative;
}

.nprogress-custom-parent #nprogress .spinner,
.nprogress-custom-parent #nprogress .bar {
  position: absolute;
}

@-webkit-keyframes nprogress-spinner {
  0%   { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}
@keyframes nprogress-spinner {
  0%   { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

