.tit{
    margin-top: 8%;
    margin-left: 15%;
    margin-right: 15%;
    /* width: 100%; */
}
.tit-big{
    font-size: 2.5em;
    font-weight: bold;
    margin: 0;
}
span{
    font-size: 0.5em;
    font-weight: bold;
    color: #007bff;
    margin: 0;
}
.nr{
    font-size: 1em;
    margin: 0;
    text-align: right;
}
.cont{
    margin-top: 2%;
    margin-bottom: 5%;
    margin-left: 15%;
    margin-right: 15%;
}
.cont p{
    font-size: 1.25em;
    text-indent:2em;
    margin: 20px;
    letter-spacing:1px;
    /* line-height: 18px; */
}
.back {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5%;
    margin-bottom: 5%;
}
.back a {
    font-size: 1.25em;
    text-decoration: none;
    color: #007bff;
}
@media screen and (max-width: 768px) {
    .tit{
    margin-top: 20%;
    margin-left: 10%;
    margin-right: 10%;
    /* width: 100%; */
}
.tit-big{
    font-size: 2em;
    font-weight: bold;
    margin: 0;
    
}
span{
    display: none;
}
.nr{
    font-size: 1em;
    margin-top: 20px;
    text-align: center;
}
.cont{
    margin-top: 10%;
    margin-bottom: 5%;
    margin-left: 5%;
    margin-right: 5%;
}
.cont p{
    font-size: 1em;
    text-indent:2em;
    margin: 20px;
    letter-spacing:1px;
    /* line-height: 18px; */
}
.back {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10%;
    margin-bottom: 10%;
}
.back a {
    font-size: 1.2em;
    text-decoration: none;
    color: #007bff;
}
}