@font-face {
    font-family: 'PingFang'; /* 自定义字体名 */
    src: url('https://datawarehouse-7gl81i6ib89c2edd-1314221350.tcloudbaseapp.com/font/PingFang.woff2') format('woff2'); /* 更新为在线URL及正确的格式 */
    font-weight: normal;
    font-style: normal;
  }
  
  body, html {
    font-family: 'PingFang'; /* 将页面字体设置为 'PingFang' */
  }